<div class="row">
    <div class="col-md-12 text-center">
        <div class="form-signin w-100 m-auto">
            {{ form_start(trick_form) }}
                {{ form_widget(trick_form) }}
                <button class="btn btn-success">{{ button_label|default('Save') }}</button>
            {{ form_end(trick_form) }}
        </div>
    </div>
</div>
