{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <h1>Edit Trick</h1>

        {{ include('trick/_trick_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_trick_index') }}">back to list</a>

        {{ include('trick/_delete_form.html.twig') }}

    {% else %}
        <h1>Vous devez être connecter pour accéder à cette page</h1>
    {% endif %}
{% endblock %}
