{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-4 text-center">
                <h1>Créer un nouveau Trick !</h1>

                {{ include('trick/_trick_form.html.twig') }}
                <br>
                <a href="{{ path('app_trick_index') }}" class="btn btn-primary btn-lg active" role="button" title="Lien 1">Retour à la liste</a>
            </div>
        </div>

    {% else %}
        <h1>Vous devez être connecter pour accéder à cette page</h1>

    {% endif %}
{% endblock %}